@model Theatr.Web.Models.TicketViewModel
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<div class="jumbotron">


    <h1>NeIzumTak </h1>
    <p class="lead">Вітаю на сторінці вашого профілю театру "NeIzumTak"</p>
    @using (Html.BeginForm("AddPerformancePost", "Profile", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <input value="" placeholder="Name of performance" type="text" name="name">
        <input value="" placeholder="Genres" type="text" name="genres">
        <input value="" placeholder="Authors" type="text" name="authors">
        <input value="2023-01-13T19:30" type="datetime-local" name="dateTime">
        <input type="submit" class="border-0 bg-transparent" value="Добавити виставу" data-bs-dismiss="modal">

    }

    @Html.ActionLink(
        "Список вистав",
        "PerformanceList"
        )

</div>