@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


@if (Request.IsAuthenticated)
{<div class="jumbotron">
    <p>Ви уже увійшли в профіль. Щоб перейти на сторінку профілю виберіть відповідний пункт в навігаційному меню зверху</p>
    </div>
    }
    else
    {
    <div class="jumbotron">
        <h1>NeIzumTak</h1>
        <p class="lead">Вітаю на сторінці театру "NeIzumTak". Ви можете придбати квитки на вистави саме тут!</p>
        <p><a class="btn btn-primary btn-lg" href="~/Home/Login">Увійти зараз</a></p>

        <p>Ще не зареєстровані? @Html.ActionLink("Зареєструйтесь прямо зараз", "Registration", "Home")</p>
    </div>

    }
